body{
    margin: 0;
    padding: 0;
    background-position: center;
    background-color: skyblue;
}

h2{
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    color: darkorange;
    text-shadow: 2px 2px black;
}

.CreatePasswordPage{
  width: 360px;
  padding: 10px 0 0;
  margin: auto;
  background: transparent;
    
}
.form{
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    color: deepskyblue;
    position: absolute;
    opacity: 1;
}

.CreatePassword input{
    padding: 10px;
    margin: 0 0 10px;
    border-style: solid;
    outline: 1;
    width: 91%;
    background-color: powderblue;
}

.CreatePassword button{
  background-color: green;
  color: white;
  padding: 10px;
  margin: 0 0 5px;
  border: none;
  cursor: pointer;
  width: 98%;
}