body{
    margin: 0;
    padding: 0;
    background-position: center;
    background-image: url("Image1.png");
}

h2{
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    color: darkorange;
    text-shadow: 2px 2px black;
}

p{
   margin: 30px;
   text-align: center;
   font-size: 16px;
   font-family: sans-serif; 
   color: gold;
}

.DashboardLinks{
    background: transparent;
    padding: 10px 0 0;
    margin: auto;
}

.DashboardLinks ul{
    list-style: none;
    float: right;
    margin-top: 0;
     background: transparent;
}

.DashboardLinks ul li{
    display: inline-block;
    background: transparent;
   
}

.DashboardLinks ul a{
    color: darkorange;
    display: inline-block;
    float:right;
    border-style: solid;
    border-color: powderblue;
    text-align: center;
    background: transparent;
    padding: 8px;
    margin: 0 0 10px;
}

.DashboardLinks ul a:hover {
    color: Orange;
    background: yellow;
}