body{
    margin: 0;
    padding: 0;
    background-position: center;
    background-image: url("Image1.png");
}

h2{
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    color: darkorange;
    text-shadow: 2px 2px black;
}

.UserSignupPage{
  width: 360px;
  padding: 10px 0 0;
  margin: auto;
  background: transparent;
    
}

.form{
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    color: deepskyblue;
    position: absolute;
    opacity: 1;
}


.UserSignup input{
   
    padding: 10px;
    margin: 0 0 10px;
    border-style: solid;
    outline: 1;
    width: 91%;
    background-color: powderblue;
    
}

.UserSignup select{
    padding: 10px;
    margin: 0 0 10px;
    border: 2px solid black;
    outline: 1;
    width: 98%;
    background-color: powderblue;
}


.UserSignup button{
  background-color: green;
  color: white;
  padding: 10px;
  margin: 0 0 5px;
  border: none;
  cursor: pointer;
  width: 98%;
}

.UserSignup a{
    font-family: sans- serif;
    color: blue;
    text-decoration: none;
    font-size: 14px;
    padding: 0;
    margin: 0 0 10px;
   
}